<br/>
<hr class="uk-divider-icon">

<div class="uk-container">

  <h2>Contact Grocery Shop</h2>
  <p>If you have questions, please don't hesitate to get in touch. Click below to send us an email</p>
  <a class="uk-link-text" href="mailto:info@groceryshop.com">
    info@grocerystore.com
  </a>
</div>