<!--SLIDESHOW-->
    <div class="uk-position-relative uk-visible-toggle uk-light" uk-slideshow="autoplay: true; ratio: 7:3; animation: scale; autoplay-interval: 5000">

     <ul class="uk-slideshow-items">
        <li>
          <img src="img/photo.jpg" alt="" uk-cover>
          <div class="uk-overlay uk-overlay-primary uk-position-bottom uk-text-center uk-transition-slide-bottom uk-padding-small">
            <h3 class="uk-margin-remove">Always Fresh</h3>
            <p class="uk-margin-remove">Our products come directly from our farmers</p>
          </div>
        </li>
        <li>
          <img src="img/dark.jpg" alt="" uk-cover>
          <div class="uk-overlay uk-overlay-primary uk-position-bottom uk-text-center uk-transition-slide-bottom uk-padding-small">
            <h3 class="uk-margin-remove">Next Day Delivery</h3>
            <p class="uk-margin-remove">On your doorstep next day on every order</p>
          </div>
        </li>
        <li>
          <img src="img/light.jpg" alt="" uk-cover>
          <div class="uk-overlay uk-overlay-primary uk-position-bottom uk-text-center uk-transition-slide-bottom uk-padding-small">
            <h3 class="uk-margin-remove">Bonuses</h3>
            <p class="uk-margin-remove">-10%, -20% off the order for our regular customers</p>
          </div>
        </li>
      </ul>

      <a class="uk-position-center-left uk-position-small uk-hidden-hover" href="#" uk-slidenav-previous uk-slideshow-item="previous"></a>
      <a class="uk-position-center-right uk-position-small uk-hidden-hover" href="#" uk-slidenav-next uk-slideshow-item="next"></a>

    </div>
    <!--/SLIDESHOW-->

        <!-- SECTION -->
    <div class="uk-section-small uk-section-muted uk-padding-small">
      <div class="uk-container">
        <h3 class="uk-text-center uk-text-lead">THE GROCERY STORE WITH PRODUCTS GROWN WITH LOVE</h3>
      </div>
    </div>
    <!-- /SECTION -->
  <hr class="uk-divider-icon">
