@model ShoppingCartViewModel

@if (Model.ShoppingCart.ShoppingCartItems.Count > 0)
{
    <a
       asp-controller="ShoppingCart" asp-action="Index">
        <span data-uk-icon="icon: cart"></span>
        <p>&nbsp;</p>
          <span id="cart-status">
            @Model.ShoppingCart.ShoppingCartItems.Count
          </span>
    </a>
 }
